
 @media (max-width: 1024px)
 {
    
  .cd-section {
    height: auto;
  }

  .cd-section > div {
    height: auto;
  }
  .content {
    position: static;
    width: 100%;
    height: 100%;
  }


  header {
    position: fixed;
    width: 100%;
    height: 160px;
    background-color: #ffffff;
    border-bottom: 1px solid #808080;
  }
  .logo {
    width: 100%;
    display: block;
    transform: translate(0,0);
  }    
  .logo img {
    width: 70%;
    transform: translate(0,0);
    padding-top: 10px;
  }
  .logo a {
    width: 16%;
    display: block;
    transform: translate(0,0);
  }
  .slogan {
    display: none;
  }
  .sns {
    width: 100%;
    height: 100%;
    float: right;
    /* border: 1px solid #000; */
    /* transform: translate(72%, -130%); */
    transform: translate(0%, 0%);
    padding-left: 70%;
    margin-top: -8%;
  }

  .sns a {
    width: 60px;
    height: 60px;
    font-size: 30px;
    padding-top: 10px;
    line-height: 58px;
    margin-left: 10px;
    /* border: 1px solid #000; */
  }
 
  .container 
  {
    margin-top: 20%;
  }
  .container {

    padding-left: 0;
  }
  .Coloum {
    width: 100%;
    height: auto;
    /* border: 5px solid #000; */
    display: block;
    margin-right: 30px;
    position: relative;
    vertical-align: top;
  }
  
  .photo {
    margin-bottom: 10px;
  }
}
 
@media (max-width: 768px)
{
  .logo img {
    width: 70%;
    transform: translate(0,0);
    padding-top: 30px;
  }
  .sns {
    width: 100%;
    height: 100%;
    float: right;
    /* border: 1px solid #000; */
    /* transform: translate(72%, -130%); */
    transform: translate(0%, 0%);
    padding-left: 70%;
    margin-top: -11%;
  }
}

@media (max-width: 700px)
 {
    
  .cd-section {
    height: auto;
  }

  .cd-section > div {
    height: auto;
  }
  .content {
    position: static;
    width: 100%;
    height: 100%;
  }


  header {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    border-bottom: 1px solid #808080;
  }
  .logo {
    width: 100%;
    display: block;
    transform: translate(0,0);
  }    
  .logo img {
    width: 70%;
    transform: translate(0,0);
    padding-top: 10px;
  }
  .logo a {
    width: 16%;
    display: block;
    transform: translate(0,0);
  }
  .slogan {
    display: none;
  }
  .sns {
    float: right;
    /* transform: translate(72%, -130%); */
    transform: translate(0%, 0%);
    padding-left: 70%;
    margin-top: -12%;
  }
  .sns a {
    transform: translate(0%, 0%);
    font-size: 15px;
    color: #000;
    width: 30px;
    height: 30px;
    display: inline-block;
    /* border: 1px solid #000; */
    /* border-radius: 50%; */
    text-align: center;
    line-height: 30px;
    margin-left: 0px;
  
    position: relative;
    transition: 0.5s;
  }
 
  .container 
  {
    margin-top: 20%;
  }
  .container {

    padding-left: 0;
  }
  .Coloum {
    width: 100%;
    height: auto;
    /* border: 5px solid #000; */
    display: block;
    margin-right: 30px;
    position: relative;
    vertical-align: top;
  }
  
  .photo {
    margin-bottom: 10px;
  }
}

@media (max-width: 320px)
 {
  .sns {
    float: right;
    /* transform: translate(72%, -130%); */
    transform: translate(0%, 0%);
    padding-left: 65%;
    margin-top: -13%;
  }
 
 }

